html {
	font-size: 14px;
}

.right-tools{
	/*width: 500px;*/
	height: 50px;
	padding-bottom: 5px;
}
#access{
	display: inline-block;
	margin-left:20px;
	float: right;
}
#access input{
	display: inline;
	width: 50px;
	line-height: 20px;
	vertical-align: bottom;
}

@media (max-width: 767px) {
  	#phone_and_email, #access {
		display: none;
	}
	#menuSearch{
		width: 100% !important;
	}
}

#newsContent {
	padding:15px;
}

#tagCloud {
	width: 100%;
	min-height: 300px;
}
#tagCloud .tier1 {
	font-size: 50px;
	color: #f48e40;
}
#tagCloud .tier2 {
	font-size: 40px;
	color: #0fa3b1;
}
#tagCloud .tier3 {
	font-size: 25px;
	color: #838486;
}

/*registration.php*/


.registration_cont input[type=text], select, textarea{
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.registration_cont input[type=password], select, textarea{
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.registration_cont input[type=email], select, textarea{
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.registration_cont input[type=tel], select, textarea{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.registration_cont label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}



.registration_cont {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.registration_cont .link {
    float: right;
    width: 200px;
}