html {
	font-size: 14px;
}

.right-tools{
	/*width: 500px;*/
	height: 50px;
	padding-bottom: 5px;
}
#access{
	display: inline-block;
	margin-left:20px;
	float: right;
}
#access input{
	display: inline;
	width: 50px;
	line-height: 20px;
	vertical-align: bottom;
}

@media (max-width: 767px) {
  	#phone_and_email, #access {
		display: none;
	}
	#menuSearch{
		width: 100% !important;
	}
}

#newsContent {
	padding:15px;
}

#tagCloud {
	width: 100%;
	min-height: 300px;
}
#tagCloud .tier1 {
	font-size: 50px;
	color: #f48e40;
}
#tagCloud .tier2 {
	font-size: 40px;
	color: #0fa3b1;
}
#tagCloud .tier3 {
	font-size: 25px;
	color: #838486;
}
